.dashContainer{
    gap: 10px;  
    padding: 10px 20px;
    background-color: rgb(248, 243, 243);
}

.dashCardContainer{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width : 300px;
}
